<div class="div-left-pf">
	<div
		class="div-parcours-pf">
		{% for formation in formations %}
        {# Code du contenu ici #}
		<h3>{{ formation.nomDiplome }}</h3>
		<h4>{{ formation.ecole }}</h4>
		<p>{{ formation.date }}</p>
		{% endfor %}
	</div>
</div>
{# Div de droite = container de la div des infos #}
<div class="div-right-pf">
	<div
		class="div-parcours-pf">
        {# Code du contenu ici #}
		{% for experience in experiences %}
		<h3>{{ experience.poste }}</h3>
		<h4>{{ experience.entreprise }}</h4>
		<p>{{ experience.date }}</p>
		{% endfor %}
	</div>
</div>
