<div class="card_projet uk-width-1-3">
	<div class="card-header_projet">
		<div class="card-header-hover_projet">
			<img src="" alt="card_image" class="card-image_projet">
			<a href="{{}}" class="uk-button card-button_projet">{{}}</a>
		</div>
	</div>
	<div class="card-body_projet">
		<h5 class="card-title_projet">{{ projet.projet }}</h5>
		<p class="card-description_annonce">
			{{ projet.descriptif }}</p>
	</div>
	<div class="card-footer_annonce">
		<div class="card-info_annonce">
			<p class="card-category_projet">{{ annonce.name }}</p>
			<p hidden="hidden">{{ annonce.nametype }}</p>
		</p>
		<p class="card-date-projet">
			{{ an.published_date}}
			-
			{{ annonce.localisation}}
		</p>
	</div>
</div></div>
