<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
<div class="carousel-inner">
    <div class="cards-disposition">
	{% for projet in projets %}
		<div class="card_projet col-md-4">
			<div class="card-header_projet">
				<div class="card-header-hover_projet">
				{#<img src="" alt="card_image" class="card-image_projet">#}
				<a href="{{ path('portefolio_projet', {id:projet.id}) }}" class="uk-button card-button_projet">Voir le projet</a>
				</div>
			</div>
			<div class="card-body_projet">
				<h5 class="card-title_projet">{{ projet.projet }}</h5>
				<p class="card-description_projet">
				{{ projet.descriptif }}</p>
			</div>
			<div class="card-footer_projet">
				<div class="card-info_projet">
					{# <p class="card-category_projet">
						{{ stack.projet.nom }}
					</p> #}
					<p class="card-date-projet">
						{{ projet.date }}
					</p>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
</div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>