<div class="cards-disposition">
	{% for projet in projets %}
		<div class="card_projet col-md-4">
			<div class="card-header_projet">
				<div
					class="card-header-hover_projet">
					<img src="C:\Users\elise\Documents\WildCodeSchool\Checkpoint4\logo-strashelp-300px.png" alt="card_image" class="card-image_projet">
					<a href="{{ path('portefolio_projet', {id:projet.id}) }}" class="btn btn-primary card-button_projet">Voir le projet</a>
				</div>
			</div>
			<div class="card-body_projet">
				<h5 class="card-title_projet">{{ projet.projet }}</h5>
				<p class="card-description_projet">
					{{ projet.descriptif }}</p>
			</div>
			<div class="card-footer_projet">
				<div
					class="card-info_projet">
					{# <p class="card-category_projet">
											{{ stack.projet.nom }}
										</p> #}
					<p class="card-date-projet">
						{{ projet.date }}
					</p>
				</div>
			</div>
		</div>
	{% endfor %}
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
