<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/logo-wild-code-school.svg') }}"/>
		<title>
			{% block title %}Portfolio - Elise
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include 'includes/_navbar1.html.twig' %}
		<section class="pf-projet-detail container" id="pf-projet">
			<div class="orga-projet row">
				<div class="div-left-pf projet-photo col-6">
					<div
						class="div-parcours-pf col">{# Code du contenu ici #}
					</div>
				</div>
				{# Div de droite = container de la div des infos #}
				<div class="div-right-pf col-6">
					<div class="div-parcours-pf col">
						<h1 class="card-projet-title">{{ projets.projet }}</h1>
						<h2 class="card-projet-subtitle">Description du projet</h2>
						<p class="card-description-projet">{{ projets.descriptif }}</p>
						<h4 class="card-stack-title">Les stacks utilisées</h4>
						{% for stack in projets.stacks %}
							<div class="stack-org">
								<p class="stack-org-name">{{ stack.nom }}</p>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
